node-red.json
[{"id":"5e57019e.2e946","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"ecf6b5d9.a79118","type":"mqtt in","z":"5e57019e.2e946","name":"","topic":"caminhao/14mob","qos":"2","broker":"60e96474.89477c","x":160,"y":900,"wires":[["1e90e06.836032","25dd5b09.dbf674"]]},{"id":"1e90e06.836032","type":"debug","z":"5e57019e.2e946","name":"","active":true,"console":"false","complete":"false","x":550,"y":1120,"wires":[]},{"id":"25dd5b09.dbf674","type":"firebase modify","z":"5e57019e.2e946","name":"","firebaseconfig":"","childpath":"status","method":"set","value":"msg.payload","priority":"msg.priority","x":610,"y":760,"wires":[[]]},{"id":"c32183cf.f688a","type":"inject","z":"5e57019e.2e946","name":"","topic":"","payload":"pescou","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":680,"wires":[["ae25a921.58a948"]]},{"id":"ae25a921.58a948","type":"mqtt out","z":"5e57019e.2e946","name":"","topic":"caminhao/14mob","qos":"","retain":"","broker":"60e96474.89477c","x":330,"y":640,"wires":[]},{"id":"89f99829.545858","type":"inject","z":"5e57019e.2e946","name":"","topic":"","payload":"acordado","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":780,"wires":[["ae25a921.58a948"]]},{"id":"60e96474.89477c","type":"mqtt-broker","z":"","name":"","broker":"test.mosquitto.org","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]